.bouton-jaune {
	background-color: #f8ea17;
	padding: 15px 20px;
	color: black;
	border-radius: 5px;
	font-family: "Bebas Neue", cursive;
	box-shadow: 10px 15px 30px rgba(0,0,0,0.15);
	padding: 15px 30px;
	font-size: 30px;
	

}
