.card {
	padding: 30px 30px;
    background: #222831;
    display: flex;
	justify-content: space-around;   
    width: 900px;
    margin: 50px 0px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.9);
    border-radius: 4px;

    margin-top: 10px;
   
   
}

.card img {
	width: 250px;
	border-radius: 4px;
	align-self: center;
}

.card p {
	text-indent: 1em;
	text-align: justify;
	margin-right: 30px;
	color: white;
	flex-grow: 0.5;
	align-self: center;
	flex-shrink: 3;
	font-family: 'Roboto', sans-serif;
	margin-left: 30px;
	
}

.card ul {
	flex-grow: 1;
	text-align: center;
	justify-content: space-between;


}

#vidéo {
	margin-bottom: 0px;
}